<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" href="#">Conversor de Moedas</span>
</nav>
<app-conversor></app-conversor>
<footer class="footer mt-auto py-3">
  <div class="container">
    Matheus Glauber
  </div>
</footer>
