.espacamentoDoNav {
  margin-top: 20px;
}

.alinhamento {
  text-align: center;
}

.entradaValor {
  width: 250px;
  text-align: right;
  display: inline;
}

.conversaoMoeda {
  width: 80px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.botao {
  margin-bottom: 5px;
}
