<div class="container">
  <div
    *ngIf="possuiErro"
    class="card text-white bg-danger mb-3 espacamentoDoNav"
  >
    <div class="card-body">
      <p class="card-text">Erro ao tentar obter dados. Tente novamente.</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3 espacamentoDoNav">
    <div class="card-header">Selecione a moeda a ser convertida:</div>
    <div class="card-body">
      <form #conversaoForm="ngForm" class="alinhamento">
        <input
          type="text"
          name="valor"
          class="form-control entradaValor"
          placeholder="0"
          [(ngModel)]="conversao.valor"
          numero
          required
        />
        <select
          name="moedaDe"
          class="form-control custom-select conversaoMoeda"
          [(ngModel)]="conversao.moedaDe"
          required
        >
          <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
            {{ moeda.sigla }} - {{ moeda.descricao }}
          </option>
        </select>
        <span>Para</span>
        <select
          name="moedaPara"
          class="form-control custom-select conversaoMoeda"
          [(ngModel)]="conversao.moedaPara"
          required
        >
          <option *ngFor="let moeda of moedas" [value]="moeda.sigla">
            {{ moeda.sigla }} - {{ moeda.descricao }}
          </option>
        </select>
        <button
          type="submit"
          class="btn btn-light botao"
          data-toggle="modal"
          data-target="#modalCotacao"
          (click)="converter()"
          [disabled]="!conversaoForm.form.valid"
        >
          Converter
        </button>
        <span>{{ conversaoResponse | json }}</span>
      </form>
    </div>
  </div>
</div>
